declare object ChainComplex {

   property PC : PolyhedralComplex;

   property BLOCKS : Map<Pair<Set<Int>, Set<Int> >, Matrix >;
   
   property INPUT_DIFFERENTIALS : Array<Matrix>;
   
   property DIFFERENTIALS : Array<Matrix>;

   property HOMOLOGIES : Array<Matrix>;

   property BETTI_NUMBERS : Vector<Int>;

   property IS_WELLDEFINED : Bool; 
   
   rule INPUT_DIFFERENTIALS : PC.HASSE_DIAGRAM, PC.FAN_DIM, BLOCKS, PC.ORIENTATIONS {
      my $d = $this->PC->FAN_DIM - 1;
      my $result = new Array<Matrix>($d+1);
      my $hd = $this->PC->HASSE_DIAGRAM;
      my $blocks = $this->BLOCKS;
      my $orientations = $this->PC->ORIENTATIONS;
      for(my $i=0; $i<$d-1; $i++){
         # print "i: ", $i," Sigmas: ",$sigmas->size," Taus: ",$taus->size,"\n";
         my $s = $hd->nodes_of_dim($d-$i);
         my @s = map($hd->FACES->[$_], @$s);
         my $sigmas = new Array<Set<Int> >(\@s);
         my $t = $hd->nodes_of_dim($d-$i-1);
         my @t = map($hd->FACES->[$_], @$t);
         my $taus = new Array<Set<Int> >(\@t);
         $result->[$d-$i] = assemble_matrix($sigmas, $taus, $blocks, $orientations);
      }
      $result->[1] = zero_matrix(0,$result->[2]->rows);
      $this->INPUT_DIFFERENTIALS = $result;
   }

   rule DIFFERENTIALS : INPUT_DIFFERENTIALS {
      my @input = @{$this->INPUT_DIFFERENTIALS};
      my $n = @input;
      my $first = zero_matrix(0,$input[0]->rows);
      my $last = zero_matrix($input[$n-1]->cols,0);
      unshift @input, $first;
      push @input, $last;
      $this->DIFFERENTIALS = new Array<Matrix>(@input);
   }

   rule HOMOLOGIES : DIFFERENTIALS {
      my $differentials = $this->DIFFERENTIALS;
      my $homologies = new Array<Matrix>($differentials->size - 1);
      # print "Hello.\n";
      for(my $i = 0; $i<$differentials->size-1; $i++){
         $homologies->[$i] = compute_homology($differentials->[$i+1], $differentials->[$i]);
         # print "Rows: ",$homologies->[$i]->rows," cols: ",$homologies->[$i]->cols,"\n";
      }
      $this->HOMOLOGIES = $homologies;
   }

   rule BETTI_NUMBERS : HOMOLOGIES {
      my $homologies = $this->HOMOLOGIES;
      my $betti_num = new Vector<Int>($homologies->size);
      for(my $i = 0; $i<$homologies->size; $i++){
         my $homology = $homologies->[$i];
         $betti_num->[$i] = $homology->rows()-rank($homology);
      }
      $this->BETTI_NUMBERS = $betti_num;
   }

   rule IS_WELLDEFINED : DIFFERENTIALS {
      my $differentials = $this->DIFFERENTIALS;
      for (my $i=0; $i<$differentials->size-1;$i++){
         if ($differentials->[$i]->cols != $differentials->[$i+1]->rows){
            $this->IS_WELLDEFINED = 0;
            print "Dimension mismatch at position ",$i,"\n";
            return;
         }
         else{
            my $test = $differentials->[$i]*$differentials->[$i+1];
            if($test != zero_matrix($test->rows,$test->cols)){
               $this->IS_WELLDEFINED =0;
               print "Not a differential at position ",$i,"\n";
               return;
            }
         }
      }
      $this->IS_WELLDEFINED = 1;
   }

   user_method wedge_complex( $ ){
      my($this, $p) = @_;
      my $old_differentials = $this->DIFFERENTIALS;
      my $new_differentials = new Array<Matrix>($this->DIFFERENTIALS->size()-1);
      for(my $i = 0; $i<$new_differentials->size; $i++){
         $new_differentials->[$i] = wedge_matrix($old_differentials->[$i],$p);
      }
      return new Complex(DIFFERENTIALS=>$new_differentials);
   }

}

sub wedge_matrix{
   my($A, $p) = @_;
   my $nrows = binomial($A->rows, $p);
   my $ncols = binomial($A->cols, $p);
   if(($nrows == 0) || ($ncols == 0)){
      return zero_matrix($nrows, $ncols);
   } else {
      return wedge_matrix_cpp($A, $p);
   }
}

sub compute_homology{
   my($imof,$kerof) = @_;
   my $ker = null_space($kerof);
   my $relations = build_matrix($ker,transpose($imof));
   return transpose($relations);
}

sub compute_homology_dimension{
   my($imof, $kerof) = @_;
   my $homology = compute_homology($imof,$kerof);
   return $homology->rows()-rank($homology);
}

